# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# Django / Python local files
*.sqlite3
db.sqlite3
*.log

# Static and media files
staticfiles/
media/

# Django migration files (optional to ignore)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# IDE / Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Linux system files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
